.mineSearch {
  margin: 3rem;
  td {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
  }
}

.result {

}

.form {
  margin: 2rem;
  input {
    margin: 1rem;
    width: 4rem;
  }
  button {
    margin: 1rem;
  }
}