%btn-style {
  border-radius: .4rem;
  color: white;
  padding: 1rem 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.Subscribed {
  background-color: #AAAAAA;
  @extend %btn-style;
}

.Subscribe {
  background-color: #CC0000;
  @extend %btn-style;
}