$nav-height: 8vh;
$footer-height: 4vh;
$body-height: calc(100vh - #{$nav-height} - #{$footer-height});
$subNavi-width: 30vw;

$color-primary: #ff3187;
$color-black700: #616161;

$color-font:  rgb(33, 37, 41);
$color-footer-font: #dfdddd;