@import '../../../../scss/abstracts/variables';

.postPage {
  padding: 3rem 1rem;
  width: calc((100vw - #{ $subNavi-width }) * .7);
  height: calc(#{ $body-height } - 1rem);
  overflow-y: auto;
}

.videoDetail {
  width: 100%;
}

.sidePage {
  position: fixed;
  padding: 1rem;
  top: $nav-height;
  right: 0;
  width: calc((100vw - #{ $subNavi-width }) * .3);
  height: calc(#{ $body-height });
  overflow-y: auto;
}