@import '../../../../scss/abstracts/variables';

.postPage {
  width: calc((100vw - #{ $personal-width }) * .7);
  padding: 3rem 4rem;
}

.videoDetail {
  width: 100%;
}

.sidePage {
  position: fixed;
  top: $nav-height;
  right: 0;
  margin-top: 1rem;
  width: calc((100vw - #{ $personal-width }) * .3);
}