@import '../../../../scss/abstracts/mixins';

.grid {
  padding: 1rem;
  &-image {
    @include mq-w('small-screen-1') {
      height: 35rem;
    }
    @include mq-w('small-screen-2') {
      height: 25rem;
    }
    @include mq-w('small-screen-3') {
      height: 15rem;
    }
  }
}