@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/extends";

@import "base/base";
@import "base/utilities";

// @import "layout/center";

.views {
  position: relative;
  height: $body-height;
  &-sub {
    margin-left: $subNavi-width;
  }
}
.overflow-y {
  height: $body-height;
  overflow-y: auto;
}

.loading {
  top: 20vh !important;
}